/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* utilise */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 29px;
    /* grid-row-gap: 30px; */
}
.player{
    display: flex;
    align-items: center;
}
.players img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* --------Blog decoration 
------------------------ */


.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    margin-top: 31px;
    
    
}

.blog{
    display: flex;
    margin-right: 46px;
    align-items: center;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-title{
    margin-left: 16px;
    font-size: 20px;
}
.blog-info{
    width: 197px;
}

.author{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px
}
/* Starting a style of Courses */

.courses .course-bennar img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    ;
}
/* Here we are starting design for COURSES */

.courses{
    display: flex;
}
.course{
    margin-right: 30px;
    box-shadow: (0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    width: 252.42px;
    height: 269.79px;
    padding: 14px;
}
.course-duration{
    color: #FF4A60;
}